html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0f2f5;
}
#app {
  height: 100%;
}
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #c0c4cc; border-radius: 3px; }
::-webkit-scrollbar-track { background: transparent; }
